.container
{
  min-height: 100vh;
  background-color: #fff;

}

.sections-container{
  /* background-color:#18242B; */
 
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
  overflow: auto;
  
  

 font-family: "Roboto Condensed, sans-serif",

}

.title
{
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.title h1
{
  color: #007bff;
}


.section-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-direction: row;
  
  
}

.section-2
{
  display: flex;
  width: 100%;
  flex-direction:row;
  overflow-x: hidden;
}

.countryList-container{

  display: flex;


}

.map-container{
  display: flex;

  
}

.card-container{

  display: flex;
  width: 30%;
  max-width: 30%;
  flex-direction: column;
 
 
  overflow-x: hidden;

}

.table-desktop{

 
  max-width: 30rem;
  width:20rem;

  display: flex;



}











.card-section{

  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 22rem;
 
  
}

.card-content
{
  margin-top: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#card2
{
  background-color: red;
}


@media (min-width: 320px) {


  .container
  {
    width: 100%;
    overflow: auto;
  }

  .section-1
  {
    display:flex;
    flex-direction:column-reverse;

  
    
  }

  .section-2
  {
  flex-direction: column;
  max-width: 100%;
  }

  .graph-container

  {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }


  .graph{

    width: 50rem;
    height:auto;
  }
  .card-section{

    display: flex;
  flex-direction: row;
    margin-top: 2rem;
    width: 20rem;
   
    
  }
  .card-container{

    display: flex;
    width: 100%;
    max-width:100%;
    flex-direction: column;
    margin-bottom: 3rem;
    overflow-x: hidden;
  
  }

  .card-content{

    justify-content: space-between;
  }

  .table{

    width:100%;
    display: flex;
    justify-content: center;
   
   
  }

  .table-desktop
  {
    display: none;
  }

  .table-data
  {
    width: 90%;
  }

  .line-graph-container
  {
    flex-direction: column;
    justify-content: center;
    margin: 0,auto;
    
  }

  .graph-data
  {
    display: flex;
    flex: 6;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 45rem;
    max-height: 45rem;
  }

  .footer
  {
   
 
    
  
  
    width: 100%;

  
 
  }

  .footer-text
  {
    width: 100%;
    text-align: center;
  }

  .footer h1 {

    font-size: 1.7rem;
    margin-bottom: -1rem;
    text-transform:uppercase;
    color: #007bff;
 
  }
  .footer h5
  {
    font-size: 1rem;
    color: #6c757d;

  }

 
 








}




@media (min-width: 576px) {

  .section-1
  {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

  }

  .card-container{


    display: flex;
    flex-direction: column;
    
  }


  .title{

    display: none;
  }

  .table
  {
    width: 25%;
    max-width: 30%;
    padding-right: 5rem;
    display: none;
  }



  .graph-container
  {
    margin-top: 4rem;
  }

  .graph
  {
    width: 60%;
    max-width: 70%;
  }

  .input-field
  {
    align-items: flex-start;
    display: flex;
  }

  .card-content{

    justify-content: space-between;
    width:100%
  }
  


  
  
  
}

@media (min-width: 1536px) {

  .section-1
  {
    display:flex;
    flex-direction: row;

  
    
  }

  .card-container{

    display: flex;
    width: 25%;
    max-width: 25%;
    flex-direction: column;
   align-items: center;
   
   
    overflow-x: hidden;
  
  }
  
}










